body {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/extra_clean_paper.png);
    
}

h1, h2, h3, h6 {
    font-family: "Georgia", Times, 'Times New Roman', serif;
}

p {
    color: #212529;
    line-height: 1.5; 
}

/*styling for nav bar */
#header{
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;  
    font-family: "Georgia", Times, 'Times New Roman', serif;
}

.navbar-brand {
    margin-left: 10%;  
    
}

.navbar-nav, .navbar-toggler {
    margin-right: 10%; 
    
}


/*styling for about me section*/
h2 {
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px; 
    margin-bottom: 20px; 
    font-size: 40px; 
    font-weight: bold; 
}

/*floats out to space on right hand side?*/
.about {
    background-color: white; 
    margin: 5% 10% 20% 10%; 
    padding: 30px; 
    width: 60%;
    min-width: 500px;  
    

}

#headshot {
    width: 200px;
    height: 200px; 
    float: left; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

/*styling for footer*/
footer {
    background-color: #666; 
    border-top: 8px solid #4aaaa5; 
    text-align: center;
    padding: 15px; 
    position: relative;
    left: 0;
    bottom: 0; 
    width: 100%; 

}

/*media queries for margins*/
@media (max-width: 575.98px) {
    .navbar-nav, .navbar-toggler, .about {
        margin-right: 0; 
        
    }
    .navbar-brand, .about {
        margin-left: 0%;   
    }

    .about {
        width: 100%; 
    }
}