/*general styling for whole document- typography*/

body {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/extra_clean_paper.png);
    
}

h1, h2, h3, h6 {
    font-family: "Georgia", Times, 'Times New Roman', serif;
}

p {
    color: #212529;
    line-height: 1.5; 
}

/*styling for nav bar */
#header{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px 15px;
    font-weight: bold; 
    font-family: "Georgia", Times, 'Times New Roman', serif;
    text-align: center;
  
}

/*added to have header logo fill entire navbar*/
.navbar {
    padding: 0 1rem; 
}

/*added to make border lines shorter*/
.nav-link{
    padding-top: 0;
    padding-bottom: 0; 
}

/*change background color*/
.custnav {
    background-color: #ffffff !important;
    border-bottom: 2px solid #cccccc;
}

/*add border lines to nav links*/
#Portlink {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

/*forgmating main content center- put no margins if not using commented out code below*/
.standard{
    background-color: white; 
    margin-top: 40px;
    margin-bottom: 100px; 
    padding: 30px;
    
    /*  works with margin if not using bootstrap container
    margin: 70px 10% 40px 10%; 
    padding: 30px; 
    width: 60%;
    min-width: 500px;   */
}

h2 {
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px; 
    margin-bottom: 20px; 
    font-size: 40px; 
    font-weight: bold; 
}
#headshot {
    width: 200px;
    height: 200px; 
    float: left; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

/*styling for footer- Is there a way to do this with bootstrap?*/
footer {
    background-color: #666; 
    border-top: 8px solid #4aaaa5; 
    text-align: center;
    padding: 15px; 
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;


}